!!!
%html
  %head
    %title websynth
    %meta{charset: "utf-8"}
    %script{:src=>"js/app.js"}
    %script{:src=>"/Tone.js-master/build/Tone.js"}
    %link{:href=>"/css/main.css",:rel=>"stylesheet"}
  %body
    #content
      
      